registry=https://registry.npmjs.org/
@quotable-value:registry=https://quotable-value-948396734470.d.codeartifact.ap-southeast-2.amazonaws.com/npm/serverless/
//quotable-value-948396734470.d.codeartifact.ap-southeast-2.amazonaws.com/npm/serverless/:always-auth=true
//quotable-value-948396734470.d.codeartifact.ap-southeast-2.amazonaws.com/npm/serverless/:_authToken=${CODEARTIFACT_AUTH_TOKEN}